/build.xml
/project.properties

# IDEA/Android Studio
/.idea/.name
/.idea/*.xml
/.idea/libraries/
/.idea/copyright/

!/.idea/codeStyleSettings.xml
!/.idea/fileColors.xml
!/.idea/encodings.xml
!/.idea/gradle.xml
!/.idea/runConfigurations/*.xml

!/.idea/inspectionProfiles/*.xml
/.idea/inspectionProfiles/profiles_settings.xml

!/.idea/scopes/*.xml
/.idea/scopes/scope_settings.xml

!/.idea/templateLanguages.xml
