<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nowsprinting.hellotesting.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CustomerListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomerDetailActivity"
            android:label="@string/title_customer_detail"
            android:parentActivityName=".CustomerListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CustomerListActivity" />
        </activity>
        <activity
            android:name=".CustomerPreviewActivity"
            android:label="@string/title_activity_customet_preview" >
        </activity>
    </application>

</manifest>
